[Desktop Entry]
Name=KernelUP
Name[pl]=KernelUP
Comment=Update the Linux kernel.
Comment[pl]=Zaktualizuj jądro operacyjne Linux.
Categories=Application
Exec=kernelup --gui
Terminal=false
Type=Application
StartupNotify=false
Icon=/usr/share/icons/hicolor/128x128/apps/kernelup.png
X-GNOME-Autostart-enabled=true

X-Ayatana-Desktop-Shortcuts=UpdateKernel;CloseApp

[UpdateKernel Shortcut Group]
Name=Check if a new version of the kernel
Name[pl]=Sprawdź czy nie pojawiła się nowa wersja jądra
Exec=kernelup -k
TargetEnvironment=Unity

[CloseApp Shortcut Group]
Name=Close KernelUP
Name[pl]=Zakończ działanie programu KernelUP
Exec=killall 'sleep' && killall 'kernelup-run' && killall 'kernelup-init';
TargetEnvironment=Unity
